{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% else %}
    <h1>Hi, stranger!</h1>
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% if rec_movies %}
        <h1>Recommended Movies</h1>
        {% for movie in rec_movies %}
            {% include '_movie.html' %}
        {% endfor %}
    {% endif %}
    {% if movies %}
    <h1>Our Offerings</h1>
    {% endif %}
    {% for movie in movies %}
        {% include '_movie.html' %}
    {% endfor %}
    {% for user in users %}
        {% include '_user.html' %}
    {% endfor %}
    {% if current_user.is_authenticated %}
    {% if current_user.user_cat!='user' %}
    {% for order,movie in order_list %}
        {% include '_order.html' %}
    {% endfor %}
    <form method="post">
        <input type="submit" class="btn btn-info" value="Add Movie" name="Add Movie">
        <a href="{{ url_for('add_stock') }}">
        <input type="button" class="btn btn-info" value="Add Stock" name="Add Stock">
        </a>
        {% if current_user.user_cat=='manager' %}
        <input type="submit" class="btn btn-info" value="View Users" name="View Users">
        <input type="submit" class="btn btn-info" value="View Staff" name="View Staff">
        <input type="submit" class="btn btn-info" value="Audit" name="Audit">
        {% endif %} 
        {% if current_user.user_cat=='staff' %}
        <input type="submit" class="btn btn-info" value="View Users" name="View Users">
        {% endif %}
    </form>
    {% else %}
    <form method="post" >
        {% for order,movie in order_list %}
            {% include '_order.html' %}
        {% endfor %}
        <input type="submit" class="btn btn-info" value="View Orders" name="View Orders">
        <input type="submit" class="btn btn-info" value="View Deadlines" name="View Deadlines">
    </form>
    {% endif %}
    {% endif %} 
    
{% endblock %}
