{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="300px"><img width="300" height="400" src="{{ movie.img_path }}" alt="https://previews.123rf.com/images/pavelstasevich/pavelstasevich1811/pavelstasevich181101028/112815904-.jpg"></td>
        <td>
            <h1>{{ movie.name }}</h1>
            {% if movie.timestamp %}
            <p>Added {{ moment(movie.timestamp).fromNow() }}</p>
            {% endif %}
            <p>{{ movie.genre }}</p>
            <p>{{ movie.description }}</p>
            <p>Rating : {{ movie.rating }}/10.0</p>
            <p>Price : {{ movie.price }}</p>
            <p>Quantity : {{ movie.quantity }}</p>
            {% if current_user.is_authenticated %}
            {% if current_user.user_cat=='user' %}
            <form method="post" >
                <input type="submit" class="btn btn-info" value="Rent Movie ID {{ movie.id }}" name="Rent Movie">
            </form>
            {% else %} 
            <form method="post" >
                <a href="{{ url_for('edit_movie',id=movie.id) }}">
                <input type="button" class="btn btn-info" value="Edit Movie Details" name="Edit Movie Details">
                </a>
            </form>
            {% endif %}
            {% else %}
            <form method="post" >
                <input type="submit" class="btn btn-info" value="Rent Movie ID {{ movie.id }}" name="Rent Movie">
            </form>
            {% endif %}
        </td>
        </tr>
    </table>
{% endblock %}
